graphviz==0.21.0
jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.8.1
matplotlib==3.10.8
mlxtend==0.23.4
nbformat==5.1.3
networkx==3.6.1
nltk==3.9.2
numpy==2.4.3
pandas==3.0.1
seaborn==0.13.2
scikit-learn==1.8.0
scipy==1.17.1
statsmodels==0.14.6
wordcloud==1.9.6